.blog p,
.blog ol {
  margin: 2.5em 0;
  font-size: 0.9em;
}

.blog li:target {
  background-color: var(--color-2);
}

.center {
  text-align: center;
}

#definitions-button {
  width: 100%;
  margin: 2em 0;
  padding: 0.5em;
  border: 2px double var(--color-2);
  background-color: var(--color-3);
  color: var(--dark-color-2);
  font-weight: bold;
  box-shadow: 0 5px 0 0 #619962;
}

#definitions-button.hide-state {
  margin-bottom: 0;
  border: 2px double var(--color-3);
  background-color: var(--color-2);
  color: var(--dark-color-3);
  box-shadow: 0 5px 0 0 #b985bc;
}

#definitions-button:hover {
  background-color: var(--color-2);
  text-decoration: underline;
}

#definitions-button:active {
  transform: translateY(5px);
  box-shadow: none;
}

#definitions-box {
  display: none;
  flex-direction: column;
  gap: 2em;
  padding: 2em;
  border: 2px double var(--dark-color-3);
  font-size: 0.85em;
}

#definitions-box li span {
  font-weight: bold;
}

.image-container {
  padding: 2em 0;
}

.image-container img {
  width: 100%;
  border: 4px double var(--dark-color-3);
}

.image-container span {
  display: block;
  margin-top: 1em;
  font-size: 0.9em;
  text-align: center;
}

.blog ol li {
  word-break: break-all;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

@media only screen and (max-width: 480px) {
  #layout #main {
    outline: none;
    border: none;
  }

  #sidebar #navigation li {
    border: 2px dashed var(--color-2);
    outline: none;
    margin: 0;
  }

  .blog :not(.dont-break) li {
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}
