.blog p, .blog ol {
  margin: 2em 0;
  font-size: 0.9em;
}

.blog li:target {
  background-color: var(--color-2);
}

.center {
  text-align: center;
}

.image-container {
  padding: 2em 0;
}

.image-container img {
  width: 100%;
  border: 4px double var(--dark-color-3);
}

.image-container span {
  display: block;
  margin-top: 1em;
  font-size: 0.9em;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  #layout #main {
    outline: none;
    border: none;
  }

  #sidebar #navigation li {
    border: 2px dashed var(--color-2);
    outline: none;
    margin: 0;
  }

  .blog li {
    word-break: break-all;
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
}
